#slider 
{
    position: relative;
    margin: auto;
    margin-top: 20px;    
    height: 500px;
    overflow: hidden;
}

#wrapper 
{
    width: 400%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

#wrapper .content 
{
    float: right;
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#wrapper .content img 
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#navLinks 
{
    text-align: center;
    position: absolute;
    top: 0;
    right: 50%; 
    transform: translate(50%, 0);      
}

#navLinks ul 
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
}

#navLinks ul li 
{
    float: right;
    text-align: center;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #ccc;
    list-style: none;
    border: black 5px solid;
    border-radius: 50%;
}
   
#navLinks ul li:hover 
{
    background-color: #ff0;
}
   
#navLinks ul li.active 
{
    background-color: #333;
}

#navLinks ul li.active:hover 
{
    background-color: #484848;
}

#descriptionContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#descriptionContainer .description {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#descriptionContainer .description .title {
    font-weight: bold;
}

#descriptionContainer .description .icon {
    color:#32a0c2;
}

#descriptionContainer .description .tech {
    color: #666;
    font-size: 0.9rem;
}

#descriptionContainer .description .desc {
    margin-top: 5px;
    font-size: 0.9rem;
}