@import url('https://fonts.googleapis.com/css2?family=El+Messiri');

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'El Messiri', sans-serif;
}

section {
    width: 100%;
}

#header {
    background: #353637;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #32a0c2;
    padding: 0px 50px;
}

#branding h1 {
    font-size: 28px;
}

nav > ul {
    margin-top: 0px;
    list-style-type: none;
}

#header a 
{
    color: #ffffff;
    text-decoration: none;
}
  
nav > ul >  li {
    float: right;
    margin-left: 15px;
}

#header .highlight,  #header .current a {
    color: #32a0c2;
}

#showcase
{
    min-height: 400px;
    background:url('../img/image.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1
{
    margin-top: 100px;    
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p
{
    font-size: 20px;
}

#newsletter 
{
    padding: 15px 40px;
    color: #ffffff;
    background: #353637;  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.newsletterForm {
    display: flex; 
    flex-flow: row wrap; 
}

#newsletter input[type="email"]
{
    padding: 4px;
    height: 25px;
    width: 250px;
    flex-grow: 5
}

.button
{
    height: 38px;
    background: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
    flex-grow: 5
}

#boxes
{
    margin-top: 20px;
    padding: 60px 120px;
    display: flex; 
    flex-flow: row wrap; 
}

#boxes .box
{
    text-align: center;
    margin-left: 30px;
}

footer {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #32a0c2;
    text-align: center;
}

@media (max-width: 579px) {
    #header {
        justify-content: center;
    }
}

@media (max-width: 669px) {
    #newsletter {
        justify-content: center;
    }
}

@media (max-width: 1154px) {
    #boxes {
        flex-direction: column;
    }
}

